SOURCEKIND = WAVEFORM
SOURCEFORMAT = WAV      # for wav file
ZMEANSOURCE = T         # remove DC offset
TARGETFORMAT = HTK
SOURCERATE = 625
TARGETRATE = 100000.0     # 100 frames per secondes
TARGETKIND = MFCC_Z_D_A_0 #   C0 include, D= delta  A= deltadelta Z= MCR

CEPLIFTER = 0
SAVECOMPRESSED = F
SAVEWITHCRC = F
WINDOWSIZE = 320000.0  # 32 ms window
USEHAMMING = T         # hamming window
PREEMCOEF = 0.97
NUMCHANS = 24           # 24 filters
NUMCEPS = 12            # nb of cepstrum coeeficients
ENORMALISE = F
NATURALWRITEORDER = F
NATURALREADORDER = F

